.client-main {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 500px;
  min-height: 700px;
}
.client-summary-side {
  position: fixed;
  top: 0;
  left: 0px;
  width: 20%;
  min-width: 400px;
  height: 100%;
  box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
}
.client-photo-side {
  position: absolute;
  top: 0;
  left: 400px;
  width: 80%;
  min-width: 400px;
  height: 100%;
}

.client-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 100%;
  z-index: 999;
  background: white;
  > .footer-summary {
    line-height: 40px;
    text-align: center;
    width: 180px;
    height: 100%;
    color: white;
    background: #2078da;
  }
}
.client-summary-container {
  width: 300px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 80px;
  // border: 1px solid red;
}

.summary-items {
  text-align: center;
  margin-top: 30px;
  width: 80%;
  font-size: 0.8rem;
}

.client-item {
  padding: 8px 0;

  &-summary {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    font-style: italic;
    border-top: 1px solid #aaa;
    text-align: right;
    margin-top: 250px;
    padding: 5px;

    .value-title-summary {
      font-size: 1.3rem;
    }
    .client-item-value-summary {
      font-size: 1.4rem;
    }
  }

  &-title {
    font-size: 1.6rem;
    text-align: left;
    color: grey;
    font-style: italic;
    margin: 10px 0 30px 0;
    .icon {
      color: $react-blue-dark;
      margin-right: 10px;
    }
  }

  .value-title {
    color: $react-blue-dark;
    font-size: 1.05rem;
    padding-left: 10px;
    margin: 0;
    font-weight: 900;
  }

  &-value {
    width: 90%;
    color: #5c5c5c;
    font-style: italic;
    text-align: left;
    font-weight: 700;
    font-size: 1rem;

    &.fail {
      color: $failure-color;
    }
    &.payed {
      color: $success-color;
    }
  }
}
