.client-photo-container {
  width: 100%;
  min-height: 700px;
  padding: 0 30px 30px 30px;
  //   background: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.photo-item {
  position: relative;
  //   border: 1px solid #eeeeee;
  width: 230px;
  height: 230px;
  margin: 0 60px 80px 0;
  box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
}

.photo-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  width: 100%;
  height: 170px;
  // background: #aec5d6;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
}
.mark {
  position: absolute;
  bottom: 0px;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid rgba(32, 119, 218, 0.9);
  border-left: 40px solid transparent;
  // display: none;
  transition: all 0.6s linear;
}
.photo-buttons {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  //   border: 1px solid orange;
}
