.modal-photo {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 333;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
}
.modal-photo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 334;
  width: 60vw;
  min-width: 800px;
  height: 50vh;
  min-height: 570px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;

  flex-wrap: wrap;
  background: white;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.4);

  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}
.photo-btn-save {
  width: 150px;
  color: #65aeff;
  border: 1px solid #65aeff;
  &:hover {
    color: #1969c4;
    border: 1px solid #1969c4;
  }
}
.photo-btn-close {
  width: 150px;
  color: red;
  border: 1px solid red;
  &:hover {
    color: #d10000;
    border: 1px solid #d10000;
  }
}
.photo-btn-choose {
  width: 150px;
  color: $success-color;
  border: 1px solid $success-color;
  &:hover {
    color: white;
    border: 1px solid $success-color;
    background: $success-color;
  }
}

.modal-image,
.modal-edit {
  position: relative;
  width: 38%;
  height: 80%;
  //   border: 1px solid red;
}
.modal-image {
  width: 60%;
  overflow: hidden;

  img {
    height: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
}
.photo-comment {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25%;
  width: 100%;
  font-style: italic;
  font-family: $open-sans;
  font-size: 0.9rem;
  color: $dark-grey;
  resize: none;
  border: 1px solid #65aeff;
  border-left: 5px solid #65aeff;
  outline: none;
  border-radius: 10px;
  padding: 8px;
}

.photo-prints {
  position: absolute;
  top: 0;
  right: 0;
  height: 70%;
  width: 100%;
  font-style: italic;
  font-family: $open-sans;
  font-size: 0.9rem;
  color: $dark-grey;
  resize: none;
  border: 1px solid #1969c4;
  border-left: 5px solid #1969c4;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;

  &-title {
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: $light-grey;
    font-style: italic;
  }
  .prints-input {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  select {
    outline: none;
    border: 1px solid #ccc;
    width: 100px;
    height: 25px;
    text-align: center;
  }

  .counter {
    display: inline-block;
    padding: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    background: #ccc;
  }
  .changeValue {
    border: none;
    outline: none;
    border: 1px solid #ccc;
    background: white;
    width: 25px;
    height: 25px;

    &:hover {
      cursor: pointer;
    }
  }

  .printsList {
    margin-top: 20px;
    li {
      display: flex;
      justify-content: space-around;
      align-items: center;
      &.strong {
        font-size: 0.9rem;
        font-weight: 700;
        border-top: 1px solid #ccc;
        margin: 10px 0;
      }
      div {
        width: 25%;
        min-height: 20px;
        text-align: center;
        padding: 5px 0;
      }
    }
    &.small {
      font-size: 0.6rem;
    }
  }
}
.disable {
  border: 1px solid #dadada;
  border-left: 5px solid #dadada;
  color: #8a8a8a;
  &:hover {
    cursor: default;
  }
}
.modal-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  border: 2px solid white;
  border-radius: 50%;
  // background: black;
  background: rgb(31, 31, 31);
  &:hover {
    cursor: pointer;
    background: rgb(48, 127, 231);
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
    transform: translate(50%, -50%);
  }
  .icon {
    font-size: 2rem;
    color: white;
    background: transparent;
    pointer-events: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes main-modal-fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -55%);
  }
}
// MAIN MODAL
.main-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 334;
  min-width: 1000px;
  height: 55vh;
  min-height: 680px;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.5);

  animation-name: main-modal-fadeIn;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  text-align: center;
  img {
    height: 100%;
  }
}
.main-modal-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;

  .item {
    width: 33%;
    font-size: 1rem;
    font-family: $roboto;
  }

  .modal-btn-close {
    width: 150px;
    color: white;
    border: 1px solid white;
    &:hover {
      background: rgb(48, 127, 231);
    }
  }
  div {
    color: white;
    text-align: center;
    &.right {
      text-align: right;
    }
  }
}
