.list-title {
  font-weight: normal;
  font-size: 1.7rem;
  font-style: italic;
  color: rgb(99, 99, 99);
  text-align: left;
  text-indent: 4rem;
}

.list {
  margin: 30px 0;
  padding: 0;
  list-style: none;
}

.list > li {
  position: relative;
  // padding: 0 20px;
  border-radius: 10px;
  // border: 1px solid #ccc;
  background: white;
  box-shadow: 1px 2px 1px #ccc;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-bottom: 20px;
  width: 90%;
  min-width: 600px;
  border-left: 10px solid $react-blue;
  overflow: hidden;

  &.active {
    top: 50%;
    left: 0;
    transform: scale(1.15);
    border: 1px solid $edit-color;
    z-index: 333;
  }
}

.editing {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.733);
  z-index: 100;
}
.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 10px;
  background: #dddddd4f;
  color: #686868;
  margin-bottom: 10px;
  // text-indent: 1rem;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: $roboto;
}

.client-data {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  // margin-top: 10px;
  padding: 0 20px;
  width: 100%;

  li.element {
    color: #636363;
    min-width: 100px;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.8rem;
    // border: 1px solid #eee;
    text-align: center;
    font-weight: 700;
    font-style: italic;

    &.small {
      min-width: 60px;
    }
    &.desc {
      font-weight: normal;
      font-style: normal;
    }
    &.unpayed {
      color: red;
    }

    &.pending,
    &.ready {
      color: #ff6600;
      font-style: italic;
    }
    &.ready {
      color: #67ac00;
      text-decoration: underline;
      letter-spacing: 2px;
    }
  }
}

.listItem-input {
  width: 100px;
  outline: none;
  border: none;
  // border-bottom: 1px solid orange;
  font-style: italic;
  color: #494949;
  text-align: center;

  &:focus {
    color: $edit-color;
    font-style: italic;
    border-bottom: 1px solid $edit-color;
  }
  &.small {
    width: 50px;
  }
}
.empty {
  width: 130px;
  visibility: hidden;
}
.session-detal-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  span {
    font-size: 1.5rem;
    color: $dark-grey;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 700;
  }

  .session-detal-name {
    display: flex;
    width: 100%;
    justify-content: space-between;

    margin-bottom: 20px;
  }
  .session-detal-item {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-height: 160px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    margin: 10px 0;

    .session-detal-image {
      width: 250px;
      text-align: center;
    }
    img {
      height: 150px;
    }
    .session-detal-number {
      height: 150px;
      font-size: 1.5rem;
      padding: 0 20px;
      line-height: 150px;
    }
    .session-detal-comment {
      flex-grow: 1;
      padding: 10px;
      width: 30%;
      font-style: italic;
      font-size: 0.9rem;
      overflow: auto;
      overflow-x: hidden;
    }
    .session-detal-imgName {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-grow: 1;
      width: 30%;
      color: $dark-grey;
      font-size: 0.7rem;
    }
  }
}
