.photographer-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.photographer-form {
  position: relative;
  // margin: 0 auto;
  margin-top: 5px;
  width: 65%;
  height: 70%;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  min-width: 550px;
  min-height: 550px;
  @media (max-width: 1800px) {
    flex-grow: 1;
  }

  .newUser-form {
    margin: 0 auto;
    width: 70%;
    min-height: 550px;
    min-width: 400px;
    padding: 0 30px;
    // border: 1px solid red;
  }
  h3 {
    font-style: italic;
    color: $dark-grey;
    font-size: 1.7rem;
  }
}

.photographer-left {
  width: 15%;
  min-width: 300px;
  // background: rgba(0, 128, 0, 0.1);
  padding: 20px 30px;
}

.photographer-right {
  position: relative;
  width: 20%;
  min-width: 300px;
  // background: rgba(255, 0, 0, 0.1);
  padding: 20px 30px;
  @media (max-width: 1800px) {
    display: none;
  }
}

.new-box input[type="text"],
.new-box input[type="password"] {
  display: block;
  background: transparent;
  width: 250px;
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 25px 0;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
  text-indent: 10px;
  font-size: 0.8rem;
  font-family: $roboto;
}

.new-box {
  position: relative;
  width: 300px;

  input {
    margin-top: 10px;
  }

  > label {
    position: absolute;
    top: 1.5em;
    left: 0;
    padding: 10px 10px;
    font-size: 15px;
    color: $dark-grey;
    letter-spacing: 0px;
    pointer-events: none;
    transition: 0.5s;
  }

  & input:focus ~ label,
  & input:valid ~ label {
    top: 0;
    left: 0;
    font-size: 13px;
    color: #777;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .select-type {
    border: 1px solid #ccc;
    padding: 5px 10px;
    outline: none;
    color: $dark-grey;
    width: 150px;
    text-align: center;
    &:hover {
      cursor: pointer;
      border: 1px solid $react-blue-dark;
    }
  }
}
span {
  font-size: 0.9rem;
  margin: 0 10px;
}

.form-container {
  // display: flex;
  // justify-content: center;
  margin-top: 30px;
  min-height: 500px;
  // background: $base-white;
  padding-bottom: 30px;
  // border: 1px dotted orange;
  // width: 100%;
  // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.form-checkbox {
  height: 30px;
  width: 230px;
  text-align: center;
  margin: 10px 0;
  color: $dark-grey;
  font-size: 0.9rem;
  // border: 1px solid black;

  label:hover,
  input:hover {
    color: #04c404;
    font-size: 1rem;
    cursor: pointer;
  }
}

.checkbox-active {
  color: #04c404;
  font-weight: 700;
  font-size: 1rem;
}
input[type="file"] {
  color: transparent;
  width: 200px;
  display: none;
}
.file-label {
  color: #181818;
  background: transparent;
  border: 2px solid currentColor;
  width: 300px;
  display: block;
  margin: 10px 150px;
  text-align: center;
  padding: 10px 15px;
  font-size: 0.8rem;

  &:hover {
    cursor: pointer;
  }
}

.files-selected {
  font-weight: 700;
}
.form-error {
  position: absolute;
  font-size: 0.8rem;
  top: 4.7em;
  left: 0;
  color: red;
}
.form-success-icon {
  position: absolute;
  top: 1.9em;
  left: 75%;
  height: 20px;
  width: 20px;
  background-image: url("../img/success_20.png");
  background-position: center;
}
.form-newClient {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
