.summary-items{
    text-align:center;
    margin-top: 30px;
    width: 80%;
    font-size: 0.8rem;
}

.form-item{
    padding: 5px;
    
    &-title{
    text-align:left;
    color:grey;
    font-style: italic;
    margin: 5px 0;
        
    }
    
    &-value{
        width: 100%;
        padding: 5px 0 5px 0;
        border-bottom: 1px dotted grey;
        color:grey;
        font-weight: 700;
        font-style: italic;
    }

    .files{
        text-align: left;
        padding: 3px;
    }


}