$backgroundColor: #aaa;

$base-white: #eee;
$light-grey: #c0c0c0;
$dark-grey: #2f3334;
$main-dark-violet: rgba(88, 42, 114, 0.3);
$base-pink: #f73859;
$react-blue: #61dbfb;
$react-blue-dark: #5dd4f1;
$success-color: #28a745;
$failure-color: #d12a3b;
$edit-color: #8e43b9;
$photo-edit-color: #a677c2;

// h1-h6
@for $i from 1 through 6 {
  h#{$i} {
    font-size: (2.7rem - $i * 0.2);
  }
}
