@import './reset';
@import './variables';
@import './base';
@import './fonts';
@import './login';


html{
    font-size: 16px;
    font-family: $open-sans;
}
body{
    position: relative;
    background: white;
}

