@import "./reset";
@import "./fonts";
@import "./variables";
@import "./buttons";
@import "./base";
@import "./login";

html {
  font-size: 16px;
}
body {
  position: relative;
  background: white;
  font-family: $open-sans;
  width: 100vw;
  height: 100vh;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background: #000;
}
