@import "./reset";
@import "./fonts";
@import "./variables";
@import "./buttons";
@import "./base";
@import "./login";
@import "./newClient";
@import "./loader";
@import "./loader_small";
@import "./module";
@import "./summary";
@import "./modal";
@import "./wrongPage";
@import "./client";
@import "./client-photo";
@import "./modal-photo";

html {
  font-size: 16px;
}
body {
  position: relative;
  font-family: $open-sans;
  width: 100vw;
  height: 100vh;
  // max-width: 1903px;
  overflow-x: hidden;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#1b275f, #080a16);

  // background-image: url("../img/camera_1920.jpg");
  // filter: blur(8px);
  // -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.owner-nav-container {
  height: 60px;
  width: 100%;
  background: #000;
}
.owner-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: $dark-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  min-width: 760px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  z-index: 333;

  .nav-list {
    display: flex;
    // border: 1px solid white;
    align-items: center;
    justify-content: space-between;
    color: $base-pink;
    padding: 0 10px;
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
  .nav-name {
    font-size: 1rem;
    color: white;
    margin: 0 3px;
    text-decoration: underline;
    font-style: italic;
    letter-spacing: 2px;
  }
  .nav-button {
    margin-left: 20px;
  }
}
.nav-logo {
  display: flex;
  align-items: center;
  width: 350px;
  // border: 1px solid red;

  img {
    width: 60px;
    margin-top: 40px;
  }
  span {
    color: #00d7fe;
    font-size: 1.8rem;
    padding: 0 10px;
    font-style: italic;
    letter-spacing: 4px;
  }
}
.nav-options {
  display: flex;
  justify-content: center;
}
